/* 全体のスタイリング */
body {
	font-family: 'PixelMplus10-Regular', sans-serif;
	background-color: #1d1d28;
	color: white;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow-x: hidden; /* 横スクロールを防止 */
}

header {
	text-align: center;
	margin-bottom: 20px;
}

/* ロゴのスタイリング */
.logo {
	max-width: 300px;
	margin-bottom: 10px;
}

/* プログレスバー */
#progressBarContainer {
	width: 80%;
	max-width: 600px;
	height: 20px;
	background-color: #333;
	border-radius: 10px;
	overflow: hidden;
	margin: 10px auto;
}

#progressBar {
	height: 100%;
	background-color: #FFD700;
	width: 0%;
	transition: width 0.3s ease-in-out;
}

/* 入力フィールド */
#taskInput {
	width: 80%;
	padding: 10px;
	margin: 10px 0;
	border: 2px solid #FFD700;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'PixelMplus10-Regular', sans-serif;
}

/* タスク追加ボタン */
#addTaskButton {
	background-color: black; /* ボタンの背景色を黒に設定 */
	color: white; /* テキスト色を白に設定 */
	border: none; /* デフォルトのボーダーを削除 */
	padding: 10px 20px; /* パディングを指定 */
	cursor: pointer; /* ポインタを指定 */
	border-radius: 5px; /* 角を丸める */
	font-size: 16px; /* フォントサイズ */
	font-family: 'PixelMplus10-Regular', sans-serif; /* Webフォントを適用 */
	transition: background-color 0.3s ease-in-out;
}

#addTaskButton:hover {
	background-color: #333; /* ホバー時に少し明るい